* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-logo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

.logo {
    width: 60px;
    box-shadow: -2px 2px 2px black;
    margin-bottom: 10px;
}

.img-logo {
    width: 50px;
    margin-left: 30px;
}

.img-logo:hover {
    background-color: #56ACDF;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s;
}

.section-banner {
    background-color: #56ACDF;
    padding: 10px;
}

.banner {
    width: 90%;
    height: 500px;
    margin: auto;
    
    display: flex;
    justify-content: start;
    align-items: center;
    background: url("img/o-que-e-modelo-canvas.jpg");
    background-size: cover;
    border-radius: 10px;
}

.banner-info {
    width: 30vh;
    font-size: 2.5vh;
    text-align: justify;
    background-color: #56addf;
    margin-left: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.text-banner {
    width: 60vh;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    text-align: justify;
    background-color: #56ACDF;
    border-radius: 30px;
    margin-bottom: 30px;
}

.text-banner h1 {
    text-align: center;
    border-bottom: 2px solid #000;
}

.text-banner p {
    margin-top: 20px;
    font-size: 2.5vh;
}

.btn-download {
    text-align: center;
}

.casos-title {
    text-align: center;
    margin: auto;
    font-size: 2em;
    padding: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    width: 70%;
}

.casos {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    background-color: #56ACDF;
    width: 100%;
    margin: auto;
}

.casos-banner {
    width: 40vh;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.olx {
    background: url("img/olx.png");
    background-size: cover;
   
}

.autopass {
    background: url("img/autopass.png");
    background-size: cover;
    margin-left: 30px;
}

.list {
    margin-left: 100px;
}

.form {
    background-color: #56ACDF;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer img {
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
}

.footer img:hover {
    background-color: #56ACDF;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s;
}